  <footer
    class="row p-5 d-flex blk-bg flex-column flex-md-row justify-content-center align-items-center section-spacing"
  >
    <h3 id="logo" class="fadeIn m-0 text-center light-text">A. FORBES</h3>
    <p class="light-text d-md-none text-center">loremipsum@txstate.edu</p>
  </footer>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"
></script>
<script src="/scripts/play-button.js"/>