
  <header class="row m-0">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid px-5 py-3">
        <a class="link no-underline" href="#home" alt="to home"
          ><h3 id="logo" class="fadeIn m-0">A. FORBES</h3></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarSupportedContent"
        >
          <ul
            class="navbar-nav d-flex ps-0 justify-content-center align-items-center fadeIn"
          >
            <li>
              <a class="px-4 py-2 mx-3 fs-5 link" href="/#home" alt="to home"
                >Home</a
              >
            </li>
            <li>
              <a class="px-4 py-2 mx-3 fs-5 link" href="/#about" alt="to about"
                >About</a
              >
            </li>
            <li>
              <a
                class="px-4 py-2 mx-3 fs-5 link"
                href="/#portfolio"
                alt="to portfolio"
                >Portfolio</a
              >
            </li>
            <li>
              <a
                class="px-4 py-2 mx-3 fs-5 link"
                href="./gallery"
                alt="to gallery"
                >Gallery</a
              >
            </li>
            <li>
              <a
                class="px-4 py-2 mx-3 fs-5 contactCTA light-text"
                href="/#contact"
                alt="to contact"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>