<div class="research-link">
    <a href={{researchAndPub.data.link}} alt="link" target="_blank"
    ><h3>{{researchAndPub.data.title}}</h3></a>
    <p>
        {{researchAndPub.data.description}}
    </p>
</div>