<div class="mediaItem m-4 d-flex flex-column">
    <img src={{video.data.imgSource}} alt="media item" />
    <div class="mt-2 p-3 d-flex justify-content-between">
        <p><b>{{video.data.title}}</b></p>
        <p>{{video.data.runtime}}</p>
    </div>
    <p class="px-3 pb-3">{{video.data.description}}</p>
</div>