<div class="d-flex flex-row history-box">
    <div class="history-bar"></div>
    <div class="py-4">
        <h3>{{work.data.title}}</h3>
        <p class="history-box-date">{{work.data.startYear}}-{{work.data.endYear}}</p>
        <p>
            {{work.data.description}}
        </p>
    </div>
</div>