<div class="d-flex flex-row history-box">
    <div class="history-bar"></div>
    <div class="py-4">
        <h3>Work Title</h3>
        <p class="history-box-date">2020-2022</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam.
        </p>
    </div>
</div>