--- 
title: AForbes
layout: 'base.njk'
--- 

  <section
    class="gallery-splash m-0 row px-5 flex-column flex-md-row justify-content-md-between justify-content-center"
  >
    <div
      class="col-md-5 col-12 d-flex flex-column justify-content-center fadeIn"
    >
      <h1 class="light-text text-center text-md-start">Gallery</h1>
      <p class="fs-5 text-center text-md-start light-text">
        dolor sit amet, consectetur adipiscing elit. Praesent finibus odio vitae
        porttitor consequat. Nunc viverra aliquam sem, ecitur ultricies odio.
      </p>
    </div>
    <div
      class="col-md-4 mt-5 col-12 d-flex align-items-end justify-content-center justify-content-md-end"
    >
      <ul class="d-flex p-0 py-md-4 fadeIn">
        <li class="me-3 social-icon">
          <a href="#"
            ><img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAABmJLR0QA/wD/AP+gvaeTAAACHElEQVRYhe2XO2gUURSGvxsfMWIQoiiKsUplIWJQfLRB7WxsLIJoaxMkhQhaCD6wi8HYBAsbWy0EMTaCQhCtVHxgIQYWi0AiKzHEdT+L3cA6zkz27qMI7A8Dc+/Mf+537pyZewc66mgVK7Q6oDoAnAMOAZuAAvAEuB9CWEjc2x9CmMkLdlKNhlSDekldMl3f1MPqZvWU+lQdyQu4VV1UbzQAczkDolaL6u/q+St1XV7AYzXGO+qaOkH2qKU6YJY1rZ6oJrA/K+hwwvRc3VUHzFgEiDXg1/OCDqUYf6ijaneO73UkTFm9Yl5tqr1qMSNAwUqB7k7xfYmEuZc2fldtI4RQBCYzWHcA14Cv1ZkYU8+qQ8BChidLsyveoXarPeqbyExjdSFt/K5E+wwwBbwAipHZxuh7WufaRPsdcLR6tFOf0zr/qWYr35WPwEAbQWaB7SGEcvJCsoD/ACOAbYR5lgbyH0wV6DFwHii1CeZRtEMdVB+qv1r4FhXU9VljJgt4GWQbMAH0RmeRr5shhKVolzrZwhlR/WDOkrISTI861SKQknqkIZAaoI3qVfVnkzCjTYEkoPrU01Z2a7Eat4GdYxZIUI+r7xsAudU0iJUF86B6UX3bAMS8OtwMwE71tpXNVKMqqw/U/qZmowZqUL2rzkVAzKkT6t5mxs58nuoG4ACV/599wBagr+qZB2aAT8BLYDqE0K7lo6OOVof+AsV8DJ5sxewYAAAAAElFTkSuQmCC"
              alt="twitter"
          /></a>
        </li>
        <li class="ms-3 social-icon">
          <a href="#"
            ><img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAABmJLR0QA/wD/AP+gvaeTAAAB3ElEQVRYhe2YO0tcQRiGn08DGliJIFqoVYKQVCLrpbBKk1LQPyGSNk26IKRMHZLGC1aCIgr+AAsFyQYbq0CKVDaBiDEB2fVNkT1kMs65iGdWhX2quc/DmZnvnDnQJoyFCiVVgBGgI8Kcl8AXM/uZ2UpSj6QVSQ3FpSFpWVJPlsxKZAmfJXd+c0QqwClxliaNS6DXzM7wJo61R7LoAJ64mVC6lXQmiQcFGu8DG8AAMA/0RpLKlfkKPDezCwBJB8BWLJm8pfmeiDT5FkukiMyEpLeSnkmaBt7HlHGPdhX4FHOyFMbNrAa3d4KC5MnsmAMwlFSYB1AD9oAZoA/oAp4Ci8Cva1lJqgbC9bbXZjCpCPSfk5T24p2UdJ7ySqgm7UpbJjPbNLMrks26Q+BN3hil7hlJU5JeS5oNPKWPQD2rf5EIXFTkBbDLv/D+DniV1JvZqaRjYDRtjDKfzIIjAvBSUqfX5iRrgDJlhr18N9DvlV2QQZkyoZN0rfHvVdBrKW2ZNO6UTF7Qq0pad/IPk4RXDvA40P+DpN/ueFmTud8zY8DnHLkYjJnZkS9TAX7wfxSNTQN4ZGbn4OyZ5t13rYUiAKuJyBX09669LKl+gytrEeqSluTdte/uX4g2Dn8AwG0JSbSqj2sAAAAASUVORK5CYII="
              alt="linkedin"
          /></a>
        </li>
      </ul>
    </div>
  </section>
<div class="row flex-column flex-lg-row align-self-lg-start align-content-center justify-content-center">
    <div class="col-10 d-flex flex-row flex-wrap p-0 gallery">
        {%- for galleryImage in collections.galleryImage -%}

            {% include 'galleryImage-snippet.njk' %}

        {%- endfor -%}
    </div>
</div>